body{
    background-repeat: no-repeat;
  
    height: 300vh;
    padding: 0;
    margin: 0;
    width: 100vw;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2vw;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #0093E9;
    background-color: white;
    position: fixed;
    top: 0;
 
}
.presentation-container{
    transform: translateY(10vw);
    display: flex;
    justify-content: center;
}
.icon-container{
    padding-right: 10px;
}
.icons{
    width: 1.5vw;
}
#mail{
    width: 3.5vw;
}
.profile-img{
    width: 20vw;
    transform: translateY(1.5vw);
    margin-left: 4vw;
    margin-right: 3vw;
    border-radius: 0.5vw;
}
.presentation-text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.portfolio{
    margin:0;
    font-size: 4vw;
}
.name{
    margin: 0;
    font-size: 2vw;
    font-family: montserrat;
}
.in{
    font-family: montserrat;
    margin-left: 5px;
}
.work{
    background:none;
    transform: translateY(3vw);
    width: 8vw;
    height: 2vw;
    border-radius: 1vw;
    border: 0.1vw solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}
.work:hover{
    background-color: #5ccbf7;
}
@media screen and (max-width:400px){
        .presentation-container{
            flex-direction: column;
        }
        .portfolio{
            margin-top: 2vw;
        }
}
.desc{
    margin: 0;
    margin-top: 1.5vw;
    width: 25vw;
    font-family: montserrat;
}
.intro{
  height:100vh;
  background-image: linear-gradient(#0093E9,#80D0C7);
}

.works{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
 height: 100vh;
 background-image: linear-gradient(#80D0C7,#0093E9);
 font-family: Arial, Helvetica, sans-serif;
 color: white;
}
.work-title{
    margin-top: 5vw;
    font-size: 3vw;
}
.work-examples{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(2vw);
}
#work1{
    margin: 0;
    padding: 0;
    width: 40vw;
    opacity: 0.4;
    filter: blur(3px);
}
.work1{
   
}
.work1 h2{

}