html{
    scroll-behavior: smooth;
}
body{
    background-repeat: no-repeat;
    background-image: linear-gradient(#0093E9,#80D0C7);
    height: 100vh;
    padding: 0;
    margin: 0;
  
   
}
/* nav properties */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0093E9;
    background-color: white;
    position: fixed;
    top: 0;
}

.icon-container{
  
    padding-right: 10px;
}
.icons{
    width: 20px;
}
#mail{
    width: 3.5vw;
}

.in{
    font-family: montserrat;
    margin-left: 20px;
    font-size: 20px;

}



/* sections */
.intro{
  display: flex;
 align-items: center;
 justify-content: center;
  height:100vh;
  background-image: linear-gradient(#0093E9,#80D0C7);
}
.presentation-container{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
 height: 100vh;
 background-image: linear-gradient(#80D0C7,#0093E9);
 font-family: Arial, Helvetica, sans-serif;
 color: white;
}
.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(#0093E9,#80D0C7);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
/* intro properties */
.desc{
    margin: 0;
    margin-top: 1.5vw;
    max-width: 400px;
    font-family: montserrat;
    font-size: vw;
}
.profile-img{
    max-width: 300px;
  
    margin-left: 4vw;
    margin-right: 3vw;
    border-radius: 0.5vw;
}
.presentation-text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.portfolio{
    margin:0;
    font-size: 60px;
}
.name{
    margin: 0;
    font-size: 35px;
    font-family: montserrat;
}
.work{
    background:none;
    transform: translateY(3vw);
    width: 120px;
    height: 40px;
    border-radius: 14px;
    border: 0.1vw solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.work:hover{
    background-color: #5ccbf7;
}

/* work properties */
.work-title{
    margin-top: 0;
    font-size: 50px;
    text-align: center;
}
.work-examples{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0%;
    padding-right: 0%;
}
.exemples{
    margin: 0;
    padding: 0;
    max-width: 700px;
    
    border-radius: 0.3vw;
}
.work-examples h2{
  font-size: 40px;
  font-family: montserrat;
}
.work1{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin-top: 10px;
}
.work1 h2{
    margin:20px;
    font-size: 20px;
}
.myrorna h2{
    margin:20px;
    font-size: 20px;
}
.myrorna{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#myrorna{
    margin-top: 30px;
}
.overlay{

}
/* education properties */
.education-title{
    font-size: 3vw;
    text-align: center;
}

/* size optimizing */
@media screen and (max-width:480px){
    .presentation-container{
        flex-direction: column;
        align-items: center;
        padding:20px;
        justify-content: center;
    
    }
    
    .exemples{
        object-fit: contain;
        width: 80vw;
    }
    
    .portfolio{
        margin-top: 2vw;
    }
}
