*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    transition: 500ms;
}
body{
    background-repeat: no-repeat;
    background-image: linear-gradient(#0093E9,#80D0C7);
    height: 100vh;
    padding: 0;
    margin: 0;
  
   
}
/* nav properties */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0093E9;
    background-color: white;
    position: fixed;
    top: 0;
}

.icon-container{
  
    padding-right: 10px;
}
.icons{
    width: 20px;
}
#mail{
    width: 3.5vw;
}

.in{
    font-family: montserrat;
    margin-left: 20px;
    font-size: 20px;
    color: #0093E9;
}
a{
    text-decoration: none;
}



/* sections */
.intro{
    padding-top: 100px;
  display: flex;
 align-items: center;
 justify-content: center;
  height:100vh;
  width: 100vw;
  background-image: linear-gradient(#0093E9,#80D0C7);
}
.presentation-container{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* intro properties */
.desc{
    margin: 0;
    margin-top: 1.5vw;
    max-width: 400px;
    font-family: montserrat;
    font-size: vw;
}
.profile-img{
    max-width: 300px;
  
    margin-left: 4vw;
    margin-right: 3vw;
    border-radius: 0.5vw;
}
.presentation-text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.portfolio{
    margin:0;
    font-size: 60px;
}
.name{
    margin: 0;
    font-size: 35px;
    font-family: montserrat;
}
.work{
   
    background:none;
    transform: translateY(3vw);
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #abe7fe;
    color: #69b1ce;
    font-size: 12px;
}
.work:hover{
    border: 0.1vw solid white;
    color: white;
    background-color: transparent;
   
}

/* work section */

.works{
    width: 100vw;
    height: 100vh;
    display: grid;
   grid-template-columns: 1000px auto auto;
   grid-template-rows: 100% 100% 100%; 
   gap:10px;
}
#cicada{
    grid-column-start: 1;

}
#myrorna{
    grid-row-start: 2;
}
#nft{
    width: 400px;
    grid-column-start:2;
}
.text{
    grid-column-start: 3;
}
.works img{
    width: 100%;
}
/* size optimizing */
@media screen and (max-width:700px){
    .presentation-container{
        flex-direction: column;
        align-items: center;
        padding:20px;
        justify-content: center;
    }
    
    .exemples{
        object-fit: contain;
        width: 80vw;
    }
    .portfolio{
        margin-top: 2vw;
    }
}
